.star-rating {
  color: #ab4a43;
}

.star-rating-dark {
  color: #5D6D58;
}

.logo {
  color: #ab4a43;
  margin-top: 30px;
  margin-left: 50px;
}

.logo-dark {
  color: antiquewhite;
  margin-top: 30px;
  margin-left: 50px;
}

.nav-bar {
  background-color: #05a8aa;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.nav-bar-dark {
  background-color: #454B4D;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}